/* ///////////////////////////////////////////// */
/* Project name:	BC68_Capstone Bootstrap_Farmstead
- Handler:	Bùi Hữu Công & Lê Minh Khoa
- Description:	Capstone Exercise, Bootstrap/HTML5/CSS3 Web template for Farmstead project */
/* ///////////////////////////////////////////// */
/* ======| GLOBAL CSS |====== */
/* google-fonts */
@import url("//fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

/* //google-fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* primary color: #fb811e
   secondary color: #009f4d */
:root {
  --priColor: #fb811e;
  --secColor: #009f4d;
  --black: #060606;

  /* default light theme */
  --bgThemeColor: #fff;
  --headingColor: var(--black);
  --txtColor: #707070;
}
[data-theme="dark"] {
  /* for dark theme */
  --bgThemeColor: #222;
  --headingColor: #fdfdfd;
  --txtColor: #b7b7b7;
}
body {
  background-color: var(--bgThemeColor);
  color: var(--txtColor);
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov";
  color: var(--headingColor);
}
a {
  color: var(--secColor);
  text-decoration: none;
}
a:hover {
  color: var(--priColor);
}
a.disabled,
a[aria-disabled="true"] {
  color: var(--txtColor);
}

body a,
body a i,
button,
.btn,
input {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
a.logo {
  color: var(--priColor);
  display: block;
  max-width: fit-content;
  margin: 10px 0;
  position: relative;
  font-family: "Volkhov";
  font-size: 32px;
  line-height: 32px;
}
a.logo i {
  color: var(--priColor);
  font-size: 21px;
  color: var(--priColor);
  position: absolute;
  top: -11px;
  left: 55px;
}
a.logo:hover,
a.logo:hover i {
  color: var(--headingColor);
}
a.btnlink {
  display: block;
  max-width: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: var(--priColor);
  margin: 20px 10px;
}
a.btnlink:hover {
  background-color: var(--secColor);
  color: #fff;
}
.mw-fitcontent {
  max-width: fit-content;
}
.test_switch_theme {
  text-align: center;
}
/* =================> global eof <==================== */
/* ======| Header CSS |====== */
#header {
  background-color: transparent;
  height: 90px;
  transition: all 0.5s;
}
#header.nav-fixed {
  background-color: var(--bgThemeColor);
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#header.nav-fixed a.logo,
#header.nav-fixed a.logo i {
  color: var(--headingColor);
}
/* fix to x-small devices */
@media (max-width: 500px) {
  #header {
    height: 145px;
  }
  #header.nav-fixed {
    height: 130px;
  }
}
/* search bar */
.searchbar {
}
.searchbar input {
  height: 35px;
  background: #fdfdfd url(./../img/search.png) no-repeat;
  background-position: 9px center;
  cursor: pointer;
  border: 1px solid rgba(15, 15, 15, 0.1);
  position: relative;
  border-radius: 35px;
  font-size: 16px;
  line-height: 35px;
  width: 35px;
  color: transparent;
  padding: 0;
}
.searchbar input:hover,
.searchbar input:focus {
  background-image: url(./../img/search-fc.png);
}
.searchbar input:focus {
  outline: 0;
  cursor: unset;
  width: 200px;
  color: var(--txtColor);
  padding: 0 15px 0 35px;
}

/*      switch dark/light theme    */
.theme-switch {
  display: block;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.theme-switch input {
  opacity: 0;
  display: none;
}
.theme-switch .change_ico i {
  color: #fdfdfd;
}
#header.nav-fixed .theme-switch .change_ico i {
  color: var(--headingColor);
}
#header.nav-fixed .theme-switch:hover .change_ico i,
.theme-switch:hover .change_ico i {
  color: var(--priColor);
}
.change_ico {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.change_ico i {
  position: absolute;
  font-size: 28px;
}
i.moon {
  display: block;
}
i.sun {
  display: none;
}
.theme-switch input:checked + .change_ico i.moon {
  display: none;
}
.theme-switch input:checked + .change_ico i.sun {
  display: block;
}
/* navbar menu */
#navbar-top #navbarNav ul {
  background-color: var(--bgThemeColor);
  position: absolute;
  top: 60px;
  right: 3px;
  padding: 10px 0;
  overflow: hidden;
  max-height: 0;
  min-width: 14em;
  opacity: 0;
  transition: all 0.45s 0s ease-in-out;
  border: 0;
  box-shadow: rgba(10, 10, 10, 0.2) 0px 7px 29px 0px;
}
#navbar-top #navbarNav.show ul {
  max-height: 400px;
  opacity: 1;
}
#navbar-top button.navbar-toggler {
  border: 0;
  padding: 0;
}
#navbar-top .navbar-toggler:focus {
  box-shadow: none;
}
#header #navbar-top button span {
  font-size: 35px;
  color: #fdfdfd;
}
#header.nav-fixed #navbar-top button span,
#navbar-top .navbar-toggler[aria-expanded="false"] span {
  color: var(--headingColor);
}
#header.nav-fixed #navbar-top button:hover span,
#header.nav-fixed #navbar-top button[aria-expanded="true"] span,
#navbar-top .navbar-toggler:hover span,
#navbar-top .navbar-toggler[aria-expanded="true"] span {
  color: var(--priColor);
}
.navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 6px 0;
  color: var(--headingColor);
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--priColor);
}
/* page header css */
.page-header {
  background-image: url(./../img/inner-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.breadcrumb li.breadcrumb-item,
.breadcrumb li.breadcrumb-item a {
  font-size: 15px;
  font-weight: 900;
  color: var(--txtColor);
}
.breadcrumb li.breadcrumb-item:hover,
.breadcrumb li.breadcrumb-item:hover a {
  color: var(--priColor);
}

.breadcrumb li.breadcrumb-item.active,
.breadcrumb li.breadcrumb-item[aria-current="page"],
.breadcrumb li.breadcrumb-item.active a,
.breadcrumb li.breadcrumb-item[aria-current="page"] a,
.breadcrumb li.breadcrumb-item.active:hover,
.breadcrumb li.breadcrumb-item[aria-current="page"]:hover,
.breadcrumb li.breadcrumb-item.active:hover a,
.breadcrumb li.breadcrumb-item[aria-current="page"]:hover a {
  font-weight: 400;
  color: var(--txtColor);
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "»" !important;
  color: var(--txtColor);
}

/* devKhoa-Footer */
.w3l-clients-1 {
  background: #fafafa url(./../img/bg1.jpg) no-repeat center fixed;
  background-size: cover;
  position: relative;
  /* z-index: 1; */
}
.w3l-clients-1:before {
  content: "";
  background-color: rgb(10 10 10 / 52%);
  position: absolute;
  min-height: 100%;
  inset: 0;
  /* z-index: -1; */
}

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
}

.w3l-clients-1 .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.radius-image {
  border-radius: 30px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.w3l-clients-1 .testi-des {
  text-align: center;
}

.w3l-clients-1 .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}

.w3l-clients-1 p.identity {
  color: #fff;
  font-size: 16px;
}
.w3l-clients-1 span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.text-md-left {
  text-align: left !important;
}
.w3l-clients-1 blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
/* .w3l-clients-1 .owl-theme .owl-nav.disabled+ .owl-dots {
  margin-top: 30px;
  bottom: -90px;
} */

.w3l-clients-1 .owl-theme .owl-dots .owl-dot.active span,
.w3l-clients-1 .owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}

.w3l-footer-16 .subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}

.w3l-footer-16 .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.w3l-footer-16 .subscribe button:hover {
  opacity: 0.8;
}

.w3l-footer-16 ul.social li {
  display: inline-block;
  margin-right: 5px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

.w3l-footer-16 ul.social li a {
  color: #009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.w3l-footer-16 ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
  transition: 0.5s all;
}

.w3l-footer-16 ul.social li a span {
  font-size: 15px;
  line-height: 35px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  text-rendering: auto;
}
.FooterLogo {
  margin-bottom: 1.15rem;
  margin-top: -0.65rem;
}

#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 4px;
  padding: 0;
}
