/* ///////////////////////////////////////////// */
/* Project name:	BC68_Capstone Bootstrap_Farmstead
- Handler:	Bùi Hữu Công & Lê Minh Khoa
- Description:	Capstone Exercise, Bootstrap/HTML5/CSS3 Web template for Farmstead project */
/* ///////////////////////////////////////////// */
/* ======| GLOBAL CSS |====== */
/* google-fonts */
@import url("//fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("//fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
/* //google-fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* primary color: #fb811e
   secondary color: #009f4d */
:root {
  --priColor: #fb811e;
  --secColor: #009f4d;
  --black: #060606;

  /* default light theme */
  --bgThemeColor: #fff;
  --headingColor: var(--black);
  --txtColor: #707070;
}
[data-theme="dark"] {
  /* for dark theme */
  --bgThemeColor: #222;
  --headingColor: #fdfdfd;
  --txtColor: #b7b7b7;
}
body {
  background-color: var(--bgThemeColor);
  color: var(--txtColor);
  font-family: "Source Sans Pro";
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov";
  color: var(--headingColor);
}
a {
  color: var(--secColor);
  text-decoration: none;
}
a:hover {
  color: var(--priColor);
}
body a,
body a i,
button,
.btn,
input {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}
a.logo {
  color: var(--priColor);
  display: block;
  max-width: fit-content;
  margin: 10px 0;
  position: relative;
  font-family: "Volkhov";
  font-size: 32px;
  line-height: 32px;
}
a.logo i {
  color: var(--priColor);
  font-size: 21px;
  color: var(--priColor);
  position: absolute;
  top: -11px;
  left: 55px;
}
a.logo:hover,
a.logo:hover i {
  color: var(--headingColor);
}
a.btnlink {
  display: block;
  max-width: fit-content;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  color: #fff;
  background-color: var(--priColor);
  margin: 20px 10px;
}
a.btnlink:hover {
  background-color: var(--secColor);
  color: #fff;
}
.test_switch_theme {
  text-align: center;
}
/* =================> global eof <==================== */
/* ======| Header CSS |====== */

.w3l-clients-1:before {
  content: "";
  background: rgb(10 10 10 / 52%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.w3l-clients-1 {
  background: url(./../img/bg1.jpg);
}

.w3l-clients-1 {
  background: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
}

.w3l-clients-1 .testimonial img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}

.radius-image {
  border-radius: 30px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

a.testi-img {
  width: 90px;
  height: 90px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}

.w3l-clients-1 .testi-des {
  text-align: center;
}

.w3l-clients-1 .testimonial .peopl h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0 5px;
  color: #fff;
}

.w3l-clients-1 p.identity {
  color: #fff;
  font-size: 16px;
}
.w3l-clients-1 span.fa {
  font-size: 20px;
  color: #fb811e;
  font-weight: 600;
  display: inline-block;
}
.text-md-left {
  text-align: left !important;
}
.w3l-clients-1 blockquote q {
  font-size: 22px;
  line-height: 34px;
  color: #fff;
  text-indent: 30px;
  display: block;
}
/* .w3l-clients-1 .owl-theme .owl-nav.disabled+ .owl-dots {
  margin-top: 30px;
  bottom: -90px;
} */

.w3l-clients-1 .owl-theme .owl-dots .owl-dot.active span, .w3l-clients-1 .owl-theme .owl-dots .owl-dot:hover span {
  background: #fb811e;
  opacity: 1;
}

.w3l-footer-16 .subscribe input[type="email"] {
  background: #f4f4f4;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
  width: 80%;
  color: #707070;
  border: 1px solid #eee;
  border-radius: 30px 0px 0px 30px;
}

.w3l-footer-16 .subscribe button {
  background: #009f4d;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 12px 12px;
  width: 20%;
  color: #fff;
  border-radius: 0px 30px 30px 0px;
}

.w3l-footer-16 .subscribe button:hover {
  opacity: .8;
}

.w3l-footer-16 ul.social li {
  display: inline-block;
  margin-right: 5px;
}

ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}

.w3l-footer-16 ul.social li a {
  color:#009f4d;
  width: 35px;
  height: 35px;
  background: rgb(10 191 83 / 8%);
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}
.w3l-footer-16 ul.social li a:hover {
  color: #fb811e;
  background: rgb(255 201 69 / 19%);
  box-shadow: 0px 4px 7px 0px rgb(10 10 10 / 24%);
  transition: 0.5s all;
}

.w3l-footer-16 ul.social li a span {
  font-size: 15px;
  line-height: 35px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  text-rendering: auto;
}

#movetop {
  position: fixed;
  bottom: 90px;
  right: 15px;
  z-index: 9;
  font-size: 16px;
  border: none;
  outline: none;
  color: #fff;
  width: 40px;
  height: 40px;
  background: #009f4d;
  border-radius: 4px;
  padding: 0;
}